.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-footer {
  height: 30%;
  color: white;
}

.G-maps-container {
  width: 50%;
}

.StreetView-container {
  width: 50%;
}

.Google-container {
  display: flex;
  height: 70%;
}

#root {
  height: 100%;
}
